body{
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    /*background-color: limegreen;*/
    /*background-image: url("../img/starrynight.jpg");*/
    background-image: url("../img/starrynight.gif");
    /*background-size: contain;*/
}
div{
    display:inline-block;
    border: 0px solid white;
    height:20%;
    width:20%;
    margin:3% 8%;
    padding:0px;
}
#singlediv {
	display: none;
}
.container {
	display:inline-block;
    border: 0px solid white;
    height:20%;
    width:90%;
    margin:2% 5%;
    padding:0px;
}
.content {
	display:inline-block;
    border: 0px solid white;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}
/*ul{
    list-style-type:none;
}
ul li{
}
ul li a{
    text-decoration: none; 

}
ul li a img{
    height:100%;
    width:100%;
}
*/
.menuelem {
    /*display:none;*/
	margin: auto;
}

#rules, #about {
    font-family: 'WebSymbolsRegular', 'Sans-Serif';
    font-size: 14px;
    color: #fff;
    position: relative;
    width: 80%;
    height: 50%;
    
}
#rules p, #about p{
    border: 0px solid white;
    color: cyan;
    margin:0% 8%;
    padding:0px;
}
#about p a{	
	color: yellow;
}
/*
Menu Style
*/
@font-face {
    font-family: 'WebSymbolsRegular', 'Sans-Serif';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    margin:5px auto;
    /*width: 100%;*/
	width: 100%;
}
.ca-menu li{
    width: 90px;
    height: 90px;
    border: 5px solid #777;
    overflow: hidden;
    position: relative;
    float:left;
    background: #999;
    margin-right: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', 'Sans-Serif';
    font-size: 20px;
    color: #f6f6f6;;
    line-height: 20px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-sub{
    display: none;
	font-family: 'WebSymbolsRegular', 'Sans-Serif';
    text-align:center;
    color: #00f;
    font-size: 12px;
    position: absolute;
    height: 20px;
    width: 70px;
    left: 50%;
    margin-left: -85px;
    top: 110px;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:hover{
    background: cyan;
    border-color: #00f;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.ca-menu li:hover .ca-sub{
    opacity: 0.8;
}
